<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>What's the weather like?</title>
        <link href="{% static 'bootstrap-4.4.1-dist/css/bootstrap.css' %}" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=M PLUS 1p' rel='stylesheet'>
        <link href="{% static 'css/base.css' %}" rel="stylesheet">
    </head>
    <body style="background-image: url({% static 'weather/clouds.jpg' %});">
        <div id="page-container"> 
            <div class="container" style="background-color: #3C8ABC; height:80px; padding:0px; margin:0px; max-width:100%;">
                <div class="row" style="width: 70%; margin:auto;">
                    <div class="col">
                        <h4 style="font-family: 'M PLUS 1p';font-size: 45px; color:white; padding-top: 10px; letter-spacing: 13px" > <a id="logo" href="/">WEATHER</a></h4>
                    </div>
                    <div class="col-8" style="padding-top:20px; padding-left:0px; padding-right:0px;">
                        <form action="{% url 'search' %}" method="GET">
                            <input style="width: 85%; height:35px;" type="text" id="cityName" placeholder="Enter a city" name="cityName" required>
                            <input type="submit" class="example_c" style="font-family: 'Times New Roman', Times, serif;"  value="SEARCH">
                        </form>
                    </div>
                </div>
            </div>
            <main>
                {% block content %}
                {% endblock content %} 
            </main>
            <footer>
                <div class="container" style="background-color: #3C8ABC; padding:0px; margin:0px; max-width:100%;">
                    <div class="row" style="width: 70%; margin:auto; text-align:center; padding-top:10px;">
                        <div class="col">
                            <h4 style="font-family: 'M PLUS 1p';font-size: 16px; color:white;"> <a id="logo" href="/">WEATHER 2020 Vilnius</a></h4>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </body>
</html>