{% extends 'base.html' %}

{% block content %}
    <script>
        function updateDailyWeather(dailyWeather) {
            const elDailyWeather = document.getElementById('selected-daily-weather');
            console.log(dailyWeather);
            elDailyWeather.classList.remove('d-none');
            elDailyWeather.innerHTML = JSON.stringify(dailyWeather);
        }
    </script>
    <style type="text/css">
        .current-col {
            background-color: white;
            text-transform: uppercase;
            border: 1px solid #515151;
            margin-right: 10px;
            position:relative;
            height: 46px; 
        }
        .forecast-container {
            max-width: 100%; 
            
        }
        .forecast-row {
            margin: 0%;
        }
        
        .image-col {
            padding:0px;
            margin:0px;
        }
        .temperature-col, .max-temperature-col, .min-temperature-col {
            text-align: center;
            padding:0px; 
            margin:auto;
            font-size:16px; 
        }
        .max-temperature-col, .min-temperature-col {
            text-align: start;
        }
    
        .description-col {
            border-left: 1px solid #515151; 
            margin:auto;
        }
        .description {
            font-size:16px; 
            margin:auto;
        }
        .forecast {
            margin:5px;
            background-color: white;
            border: 1px solid #515151;
            border-bottom: 5px solid #515151;
            transition: all .2s ease-in-out;
        }
        .forecast:hover {
            border: 1px solid #515151;
            border-top:5px solid #515151;
            transform: scale(1.2);
            z-index: 2;
        }
        .hidden-data {
            display: none;
        } 
        .visible-data {
            display: block;
        }
        .city_name {
            font-size:40px;
        }
        .left-margin-col {
            margin-left:6%;
        }
        .current-temperature, .max-temperature, .min-temperature {
            margin: auto;
        }
        .now-title {
            font-size:26px;
        }
        .forecast-title {
            margin-top:5px;
            font-size:26px;
        }
        .forecast-date {
            margin: auto; 
            border-bottom:1px solid #515151;
        }
        .night_and_day_temperature {
            margin:auto;
        }
        .day_temperature { 
            font-weight: bold; 
        }
        .night_temperature, .day_temperature {
            text-align:center;
        }
        .morn-day-eve-night {
            border: 1px solid #515151;
            margin:5px;
        }
    
    </style>
    <!-- current weather -->
    <div class="container logo-container" style="margin-bottom: 3%;">
        <div class="row logo-row">
            <div class="col-4">
                <p class="city_name">{{current_weather.name}}</p>
            </div>
        </div>
        <div class="row logo-row">
            <div class="col-1" style="margin-right: 20px;" >
                <p class="now-title">Now:</p>
            </div>
            <div class="col-8 current-col">
                <div class="row" >
                    <div class="col-1 image-col">
                        <img src="{{current_weather.icon }}" alt="Image">
                    </div>
                    <div class="col-1 temperature-col">
                        <p class="current-temperature">{{current_weather.temperature}}°</p>
                    </div>
                    <div class="col description-col">
                        <p class="description">{{current_weather.description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>  

    <div class="container logo-container">
        <div class="row logo-row">
            <div class="col">
                <p class="forecast-title">Forecast:</p>
            </div>
        </div>
    </div>
    <div class="container forecast-container">
        <div class="row forecast-row">
            {% for daily in forecast %}
            <div class="col forecast" onclick="updateDailyWeather({{ daily }})">
                <div class="row">
                    <div class="col" style="text-align: center; ">
                        <p class="forecast-date">{{daily.date}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-7 image-col">
                        <img src="{{ daily.icon }}" alt="Image">
                    </div>
                    <div class="col-5 night_and_day_temperature">
                        <div class="row">
                            <div class="col">
                                <p class="day_temperature">{{daily.temperature_day}}°</p>
                            </div>                            
                        </div>
                        <div class="row">
                            <div class="col">
                                <p class="night_temperature">{{daily.temperature_night}}°</p>
                            </div>                            
                        </div>
                    </div> 
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div id="selected-daily-weather" class="d-none"></div>

    <div class="container" style="margin:0px; max-width:100%; margin-top:40px;">
        {% for daily in forecast %}
            {% if daily.date == current_weather.date  %}
                <div class="row justify-content-between" style="padding:0px; margin:15px;">
                    <div class="col-3 morn-day-eve-night">
                        <div class="row">
                            <div class="col">
                                <p style="text-align: center; border-bottom: 1px solid black;">Morning</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p>{{daily.temperature_morn}}°</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p>Feels like {{daily.feels_like_morn}}°</p>
                            </div>
                        </div>
                    </div>
                    <div class="col morn-day-eve-night">
                        <div class="row">
                            <div class="col">
                                <p style="text-align: center; border-bottom: 1px solid black;">Day</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p>{{daily.temperature_day}}°</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p>Feels like {{daily.feels_like_day}}°</p>
                            </div>
                        </div>
                    </div>
                    <div class="col morn-day-eve-night">
                        <div class="row">
                            <div class="col">
                                <p style="text-align: center; border-bottom: 1px solid black;">Evening</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p>{{daily.temperature_eve}}°</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p>Feels like {{daily.feels_like_eve}}°</p>
                            </div>
                        </div>
                    </div>
                    <div class="col morn-day-eve-night">
                        <div class="row">
                            <div class="col">
                                <p style="text-align: center; border-bottom: 1px solid black;">Night</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p>{{daily.temperature_night}}°</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p>Feels like {{daily.feels_like_night}}°</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="border:1px solid black; padding:0px; margin:20px;">
                    <div class="col-1 image-col">
                        <img src="{{ daily.icon }}" alt="Image">
                    </div>
                    <div class="col" style="border:1px solid red;">
                        <div class="row">
                            <div class="col-3 max-temperature-col">
                                <p class="max-temperature">Max temperature through day: {{daily.temperature_max}}°</p>
                            </div>
                            <div class="col min-temperature-col">
                                <p class="min-temperature">Min temperature through day: {{daily.temperature_min}}°</p>
                            </div>    
                        </div>
                        <div class="row">
                            <div class="col-3 max-temperature-col">
                                <p class="max-temperature">Sunrise: {{daily.sunrise}}</p>
                            </div>
                            <div class="col min-temperature-col">
                                <p class="min-temperature">Sunset: {{daily.sunset}}</p>
                            </div>    
                        </div>
                        

                    </div>
                </div>
            {% endif %}
        {% endfor %}
        
        

    </div>
    
    <!-- {% for daily in forecast %}
        {% if daily.date == current_weather.date  %}
            <p>temperature morn: {{daily.temperature_morn}}°</p>
        {% endif %}
    {% endfor %} -->
                
                <!-- <p>sunrise: {{daily.sunrise}}</p>
                <p>sunset: {{daily.sunset}}</p>
                <p>temperature morn: {{daily.temperature_morn}}</p>
                <p>temperature day: {{daily.temperature_day}}</p>
                <p>temperature eve: {{daily.temperature_eve}}</p>
                <p>temperature nigh: {{daily.temperature_night}}</p>
                <p>temperature min: {{daily.temperature_min}}</p>
                <p>temperature max: {{daily.temperature_max}}</p>
                <p>feels_like morn: {{daily.feels_like_morn}}</p>
                <p>feels_like day: {{daily.feels_like_day}}</p>
                <p>feels_like eve: {{daily.feels_like_eve}}</p>
                <p>feels_like night: {{daily.feels_like_nught}}</p>
                <p>pressure: {{daily.pressure}}</p>
                <p>humidity: {{daily.humidity}}</p>
                <p>clouds: {{daily.clouds}}</p>
                <p>uvi: {{daily.uvi}}</p>
                <p>wind_speed: {{daily.wind_speed}}</p>
                <p>wind_deg: {{daily.wind_deg}}</p>
                <p>main: {{daily.main}}</p>
                <p>description: {{daily.description}}</p>
                <img src="http://openweathermap.org/img/w/{{ daily.icon }}.png" alt="Image"> -->
            
        

{% endblock content %}