{% extends 'base.html' %}

{% block content %}
    <script>
        function updateDailyWeather(dailyWeather) {
            const elDailyWeather = document.getElementById('selected-daily-weather');
            console.log(dailyWeather);
            elDailyWeather.classList.remove('d-none');
            /*document.getElementById('selected-daily-weather').innerHTML = JSON.stringify(dailyWeather.week_day);*/
            document.getElementById('week_day-date').innerHTML = dailyWeather.week_day + ", " + dailyWeather.date_day;
            document.getElementById('sunrise').innerHTML = "Sunrise: " + dailyWeather.sunrise;
            document.getElementById('sunset').innerHTML = "Sunset: " + dailyWeather.sunset;
            document.getElementById('min-max-temperature').innerHTML = "Temperature from " + dailyWeather.temperature_min + "° to " + dailyWeather.temperature_max +"°";
            document.getElementById('pressure').innerHTML = "Pressure: " + dailyWeather.pressure + " mb";
            document.getElementById('humidity').innerHTML = "Humidity: " + dailyWeather.humidity + "%";
            document.getElementById('wind_speed').innerHTML = "Wind: " + dailyWeather.wind_speed + " km/h";
            document.getElementById('uvi').innerHTML = "UV: " + dailyWeather.uvi;
            document.getElementById('icon').attr("src", dailyWeather.icon);

        }
    </script>
    <style type="text/css">
        .current-weather-container, .forecast-title-container {
            background-color: white; 
            padding:0px; 
            margin:0px; 
            max-width:100%;
        }
        .current-col {
            background-color: white;
            text-transform: uppercase;
            border: 1px solid #515151;
            margin-right: 10px;
            position:relative;
            height: 46px; 
        }
        .forecast-container {
            max-width: 100%; 
            
        }
        .forecast-row {
            margin: 0%;
        }
        
        .image-col {
            padding:0px;
            margin:0px;
        }
        .temperature-col, .max-temperature-col, .min-temperature-col {
            text-align: center;
            padding:0px; 
            margin:auto;
            font-size:16px; 
        }
        .max-temperature-col, .min-temperature-col {
            text-align: start;
        }
    
        .description-col {
            border-left: 1px solid #515151; 
            margin:auto;
        }
        .description {
            font-size:16px; 
            margin:auto;
        }
        .forecast {
            margin:5px;
            background-color: white;
            border: 1px solid #515151;
            border-bottom: 5px solid #515151;
            transition: all .2s ease-in-out;
        }
        .forecast:hover {
            border: 1px solid #515151;
            border-top:5px solid #515151;
            transform: scale(1.1);
            z-index: 2;
        }
        .hidden-data {
            display: none;
        } 
        .visible-data {
            display: block;
        }
        .city_name {
            font-size:40px;
        }
        .left-margin-col {
            margin-left:6%;
        }
        .current-temperature, .max-temperature, .min-temperature {
            margin: auto;
        }
        .now-title {
            font-size:26px;
        }
        .forecast-title {
            margin-top:5px;
            font-size:26px;
        }
        .forecast-date {
            margin: auto; 
        }
        .week-day {
            margin: auto; 
            border-bottom:1px solid #515151;
        }
        .night_and_day_temperature {
            margin:auto;
        }
        .day_temperature { 
            font-weight: bold; 
        }
        .night_temperature, .day_temperature {
            text-align:center;
        }
        .morn-day-eve-night {
            border: 1px solid #515151;
            margin:5px;
        }
        .current-city-row, .current-weather-row {
            width: 70%; 
            margin:auto;
        }
    
    </style>
    <!-- current weather -->
    <div class="container current-weather-container">
        <div class="row current-city-row">
            <div class="col-4">
                <p class="city_name">{{current_weather.name}}</p>
            </div>
        </div>
        <div class="row current-weather-row">
            <div class="col-1" style="margin-right: 20px;" >
                <p class="now-title">Now:</p>
            </div>
            <div class="col-8 current-col">
                <div class="row" >
                    <div class="col-1 image-col">
                        <img src="{{current_weather.icon }}" alt="Image">
                    </div>
                    <div class="col-1 temperature-col">
                        <p class="current-temperature">{{current_weather.temperature}}°</p>
                    </div>
                    <div class="col description-col">
                        <p class="description">{{current_weather.description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>  

    <div class="container forecast-title-container">
        <div class="row logo-row">
            <div class="col">
                <p class="forecast-title">Forecast:</p>
            </div>
        </div>
    </div>
    <div class="container forecast-container">
        <div class="row forecast-row">
            {% for daily in forecast %}
            <div class="col forecast" onclick="updateDailyWeather({{ daily }})">
                <div class="row">
                    <div class="col" style="text-align: center; ">
                        <p class="forecast-date">{{daily.date_day}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col" style="text-align: center; ">
                        <p class="week-day">{{daily.week_day}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-7 image-col">
                        <img src="{{ daily.icon }}" alt="Image">
                    </div>
                    <div class="col-5 night_and_day_temperature">
                        <div class="row">
                            <div class="col">
                                <p class="day_temperature">{{daily.temperature_day}}°</p>
                            </div>                            
                        </div>
                        <div class="row">
                            <div class="col">
                                <p class="night_temperature">{{daily.temperature_night}}°</p>
                            </div>                            
                        </div>
                    </div> 
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div id="selected-daily-weather" class="d-none"></div>

    <div class="container" style="margin:0px; max-width:100%; margin-top:40px;">
        {% for daily in forecast %}
            {% if daily.date_day == current_weather.date  %}
                <div class="row justify-content-between" style="padding:0px; margin:15px;">
                    <div class="col-3 morn-day-eve-night">
                        <div class="row">
                            <div class="col">
                                <p style="text-align: center; border-bottom: 1px solid black;">Morning</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p>{{daily.temperature_morn}}°</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p>Feels like {{daily.feels_like_morn}}°</p>
                            </div>
                        </div>
                    </div>
                    <div class="col morn-day-eve-night">
                        <div class="row">
                            <div class="col">
                                <p style="text-align: center; border-bottom: 1px solid black;">Day</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p>{{daily.temperature_day}}°</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p>Feels like {{daily.feels_like_day}}°</p>
                            </div>
                        </div>
                    </div>
                    <div class="col morn-day-eve-night">
                        <div class="row">
                            <div class="col">
                                <p style="text-align: center; border-bottom: 1px solid black;">Evening</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p>{{daily.temperature_eve}}°</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p>Feels like {{daily.feels_like_eve}}°</p>
                            </div>
                        </div>
                    </div>
                    <div class="col morn-day-eve-night">
                        <div class="row">
                            <div class="col">
                                <p style="text-align: center; border-bottom: 1px solid black;">Night</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p>{{daily.temperature_night}}°</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p>Feels like {{daily.feels_like_night}}°</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="border:1px solid black; padding:0px; margin:20px;">
                    <div class="col-1 image-col">
                        <img id="icon" src="{{daily.icon}}" alt="Image">
                    </div>
                    <div class="col">
                        <div class="row" style="margin: 10px;">
                            <div class="col max-temperature-col">
                                <p id="week_day-date" style="border-bottom: 1px solid black;" class="max-temperature">{{daily.week_day}}, {{daily.date_day}}</p>
                            </div> 
                        </div>
                        <div class="row" style="margin: 10px;">
                            <div class="col max-temperature-col">
                                <p id="min-max-temperature" class="max-temperature">Temperature from {{daily.temperature_min}}° to {{daily.temperature_max}}°</p>
                            </div> 
                        </div>
                        <div class="row" style="margin: 10px;">
                            <div class="col-3 max-temperature-col">
                                <p id="sunrise" class="max-temperature">Sunrise: {{daily.sunrise}}</p>
                            </div>
                            <div class="col min-temperature-col">
                                <p id="sunset" class="min-temperature">Sunset: {{daily.sunset}}</p>
                            </div>    
                        </div>
                        <div class="row" style="margin: 10px;">
                            <div class="col-3 max-temperature-col">
                                <p id="pressure" class="max-temperature">Pressure: {{daily.pressure}} mb</p>
                            </div>
                            <div class="col min-temperature-col">
                                <p id="humidity" class="min-temperature">Humidity: {{daily.humidity}}%</p>
                            </div>    
                        </div>
                        <div class="row" style="margin: 10px;">
                            <div class="col-3 max-temperature-col">
                                <p id="wind_speed" class="max-temperature">Wind: {{daily.wind_speed}} km/h</p>
                            </div>
                            <div class="col min-temperature-col">
                                <p id="uvi" class="min-temperature">UV: {{daily.uvi}}</p>
                            </div>    
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    
{% endblock content %}