{% extends 'base.html' %}

{% block content %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    
    <style type="text/css">
        .city-col {
            border-top: 1px solid #515151;
            background-color: white;
            text-transform: uppercase;
            border-bottom: 5px solid #515151;
            margin-right: 10px;
            position:relative;
            transition: all .2s ease-in-out;
            border-right: 1px solid #515151;
            border-left: 1px solid #515151;
        }
        .city-col:hover {
            border-top: 5px solid #515151;
            transform: scale(1.2);
            border-bottom: 1px solid #515151;
            z-index: 2;
        }
        .city-name { 
            font-size: 28px; 
        }
        .city-name:hover {
            text-decoration: none;
        }
        .index-container {
            max-width: 100%; 
            margin:10px
        }
        .index-row {
            margin: 0px; 
            width:95%; 
            margin:auto;
        }
        .city-name-row {
            padding: 0px; 
            margin:0px;
        }
        .image-col {
            padding:0px;
        }
        .temperature-col {
            padding:0px; 
            margin:auto;
            font-size:20px; 
        }
        .description-col {
            border-left: 1px solid #515151; 
            margin:auto;
        }
        .description, .temperature {
            font-size:16px; 
            margin:auto;
        }
        

    </style>
    <div class="container index-container">
        <div class="row justify-content-center index-row">
            {% for city in weather_data %}
            <div class="col city-col">
                <div class="row city-name-row">
                    <p><a class="city-name" href="{% url 'city_detail' city.id %}">{{city.city}}</a></p>
                </div>
                <div class="row" >
                    <div class="col-3 image-col">
                        <img src="{{ city.icon }}" alt="Image">
                    </div>
                    <div class="col-2 temperature-col" >
                        <p class="temperature" >{{city.temperature}}°</p>
                    </div>
                    <div class="col description-col">
                        <p class="description">{{city.description}}</p>
                    </div>
                </div>
            </div>
            <br>
            {% endfor %}
        </div>
    </div>
{% endblock content %}