{% extends 'base.html' %}

{% block content %}
        <div class="contaner" style="border: 1px solid black">
            <div class="row">
                <div class="col">
                    <p>City: <a href="{% url 'city_detail' weather.id %}">{{weather.city}} </a></p>
                    <p>City: {{weather.city}}</p>
                    <p>temperature: {{weather.temperature}}</p>
                    <p>description: {{weather.description}}</p>
                    <img src="http://openweathermap.org/img/w/{{ weather.icon }}.png" alt="Image">
                </div>
                
            </div>
        </div>
{% endblock content %}