<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>What's the weather like?</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <form action="find/" method="GET">
                    <input type="text" id="cityName" name="cityName" required>
                    <input type="submit" value="Search">
                </form>
            </div>
        </div>
    </div>
        <div class="contaner" style="border: 1px solid black">
            <div class="row">
                <div class="col">
                    <p>City: <a href="{% url 'city_detail' weather.id %}">{{weather.city}} </a></p>
                    <p>City: {{weather.city}}</p>
                    <p>temperature: {{weather.temperature}}</p>
                    <p>description: {{weather.description}}</p>
                    <img src="http://openweathermap.org/img/w/{{ weather.icon }}.png" alt="Image">
                </div>
                
            </div>
        </div>
</body>
</html>