{% extends 'base.html' %}

{% block content %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    
    <style type="text/css">
        .apology-container {
            max-width: 100%; 
            margin:10px
        }
        .apology-row {
            margin: 0px; 
            width:70%; 
            margin:auto;
        }
        .message {
            color: #515151;
            font-family: 'Open Sans', sans-serif; 
            font-size: 20px; 
            margin: auto;
            text-decoration: none;
        }
        .apology-col {
            border-top: 1px solid #515151;
            background-color: white;
            text-transform: uppercase;
            border-bottom: 5px solid #515151;
            margin-right: 10px;
            position:relative;
            transition: all .2s ease-in-out;
            border-right: 1px solid #515151;
            border-left: 1px solid #515151;
        }
 
    </style>
    <div class="container apology-container">
        <div class="row justify-content-center apology-row">
            <div class="col apology-col">
                <div class="row">
                    <p class="message">{{message}}.</p>
                </div> 
                <div class="row">
                    <p class="message">Back to <a href="/">homepage</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}